{% macro contactModal() %}
  <div class="modal">
    <div class="dialog">
      <div class="dialog__close">
        <i class="material-icons phone">close</i>
      </div>
      <div class="contact__list">
        <a class="contact__entry" href="#"><i class="material-icons phone">phone</i> +33 1 23 23 23 23</a>
        <a class="contact__entry" href="#"><i class="material-icons">email</i> bawa@email.com</a>
        <a class="contact__entry" href="#"><i class="material-icons">map</i> 23 rue de la pierre, Paris, France</a>
      </div>
    </div>
  </div>
{% endmacro %}
