{% extends "layouts/default.html" %}

{% block js %}
  <script src="/js/reveal/scrollMonitor.js"></script>
  <script src="/js/work.js"></script>
{% endblock %}

{% block pageClass %}work{% endblock %}

{% block content %}
  <div class="main__title">
    <div class="inner">
      <h1 class="heading-1">Our Work</h1>
    </div>
  </div>

  <section class="section section--text">
    <div class="section__inner">
      <p class="introduction">
        This is our work, it's really good.
      </p>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>

  <section class="section section--bigpicture">
    <a href="#">
      <img src="https://source.unsplash.com/collection/2113211/1200x800?sig=2" alt="">
      <div class="work__text">
        <div class="text__element work__title">
          <span>The clouds project</span>
        </div>
        <br>
        <div class="text__element work__date">
          <span>2016</span>
        </div>
      </div>
      <div class="text__element work__more">
        <span>more info</span>
      </div>
    </a>
  </section>

  <section class="section section--bigpicture">
    <a href="#">
      <img src="https://source.unsplash.com/collection/2113211/1200x800?sig=3" alt="">
      <div class="work__text">
        <div class="text__element work__title">
          <span>La machinerie</span>
        </div><br><div class="text__element work__date">
          <span>2016</span>
        </div>
      </div>
      <div class="text__element work__more">
        <span>more info</span>
      </div>
    </a>
  </section>

  <section class="section section--bigpicture">
    <a href="#">
      <img src="https://source.unsplash.com/collection/2113211/1200x800?sig=4" alt="">
      <div class="work__text">
        <div class="text__element work__title">
          <span>La blabla</span>
        </div><br><div class="text__element work__date">
          <span>2016</span>
        </div>
      </div>
      <div class="text__element work__more">
        <span>more info</span>
      </div>
    </a>
  </section>
{% endblock %}
