.sticky-header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: rgba($color-black-3, .9);
  color: $color-white-2;
  z-index: 300;
  // box-shadow: 2px 2px 10px rgba($color-black-2, .3);
  animation: .9s sticky-header-anim cubic-bezier(0.86, 0, 0.07, 1) both .5s;

  .inner {
    max-width: $content-max-width;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
  }

  .nav {
    position: relative;
    bottom: auto;
    right: auto;
    transform: rotate(0deg);
    margin-left: auto;
  }
}

.sticky-header__title {
  margin: 0;
  font-family: $font-family;
  display: inline-block;
  font-size: 1.5rem;

  span {
    font-size: .7em;
  }
}

.header {
  // background: url("https://source.unsplash.com/1200x800/?art");
  // background: url("/images/tmp-img-3.jpg");
  // background-size: cover;
  // background-position: center;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
  position: relative;

  // animation: header-bg-anim 4s both;

  // &:after {
  //   content: '';
  //   width: 100%;
  //   height: 6rem;
  //   background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%,rgba(0, 0, 0, 0) 100%);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 10;
  // }
}

.home .header:after {
  content: '';
  background: $color-black-2;
  height: 8vw;
  max-height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 100;
  bottom: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    // filter: blur(5px);
    // filter: grayscale(100%) blur(10px);
    // filter: grayscale(100%);

    &.is-active {
      opacity: 1;
    }
  }
}

.bg__inner {
  height: 100%;
  width: 100%;
  animation: header-bg-anim 3s both;
}

.header__title {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 3;
}

.title {
  animation: 1s title-fade-in cubic-bezier(0.86, 0, 0.07, 1) both .5s;

  h1, h2 {
    background: $color-black-2;
    color: $color-white-2;
    display: inline-block;
    padding: .8rem 1.6rem;
    font-family: $font-family-title;;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
}

.title-2 {
  animation-delay: .6s;
}

@keyframes title-fade-in {
  from {
    transform: translate3d(-100%, 0, 0);
    // opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    // opacity: 1;
  }
}

@keyframes header-bg-anim {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes sticky-header-anim {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes main-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
