body {
  // background: $color-black;
  // background: $color-black-2;
  background: #282c34;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
}
