body {
  background: $color-gray;
  // background: $color-black;
  // background: $color-black-2;
  // background: #030102;
  // background: #079992;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
}

.main {
  background: $color-black-2;
  // background: #3d3d3d;
  // background: #0a3d62;
  position: relative;
  z-index: 4;
  // padding: 4rem;
  // background: url("/images/vertical-waves.png") repeat;
}

.main__title {
  position: relative;
  top: -4rem;
  text-align: center;
  margin-bottom: -3rem;

  .inner {
    transform: rotate(-4.5deg);
    display: inline-block;
  }
}

.section__inner {
  position: relative;
  padding: 2rem 4rem;
}

.home .section__inner {
  padding: 5rem 4rem;
}

.section--text {
  text-align: center;

  p {
    text-align: center;
    margin: auto;
    max-width: 50rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.section--bigpicture {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 90vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(odd) {
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  }

  &:nth-child(even) {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  }
}

body:not(.home) {
  .header__title {
    display: none;
  }

  .sticky-header {
    display: block;
  }

  .main,
  .main__title {
    animation: .8s main-fade-in $easing both $load-anim-delay + .1s;
  }

  .main {
    margin-top: -25vh;
  }

  .main__title {
    animation-delay: $load-anim-delay + .2s;
  }

  .home-nav {
    display: none;
  }
}

button {
  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: transparent;
  }
}
