.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav__entry {
  &:not(:last-child) {
    margin-right: 1rem;
  }

  &.is-active .nav__link {
    // background: $color-white-2;
    // color: black;
    opacity: 1;
  }

  &:hover .nav__link {
    opacity: 1;
  }

  &:nth-child(1) .nav__link {
    transform: rotate(-4deg);
  }

  &:nth-child(2) .nav__link {
    transform: rotate(1deg);
  }

  &:nth-child(3) .nav__link {
    transform: rotate(-3deg);
  }

  &:nth-child(4) .nav__link {
    transform: rotate(2deg);
  }

  &:nth-child(5) .nav__link {
    transform: rotate(3deg);
  }
}

.nav__link {
  display: block;
  color: $color-white-2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: .3em .6em;
  font-family: $font-family-title;
  transition: all .2s;
  border: 1px solid rgba($color-white-2, .5);
  opacity: .6;

  &:hover {
    text-decoration: none;
    color: $color-white-2;
  }
}

.home-nav {
  position: absolute;
  bottom: 9vw;
  right: 2.5rem;
  transform: rotate(-4.5deg);
  z-index: 3;

  .nav__entry {
    animation: .2s nav-fade-in ease-out both;

    @for $i from 1 to 6 {
      &:nth-child(#{$i}) {
        animation-delay: 1s + $i * 100ms;
      }
    }
  }

  .nav__link {
    // color: $color-black-2;
    // background: $color-white-2;
    background: $color-black-2;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 1;

    &:hover {
      background: $color-gray;
    }
  }
}

@keyframes nav-fade-in {
  from {
    transform: translate3d(0, 50%, 0);
    // transform: scale(.8);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    // transform: scale(1);
    opacity: 1;
  }
}
