$color-white: #fff;
// $color-white-2: #f9fcfe;
$color-white-2: #CAD3C8;
$color-white-3: #919d91;
$color-black: #000;
$color-black-2: #1c1c1c;
$color-black-3: #030102;
// $color-gray: #393c43;
$color-gray: #282c34;

// $content-max-width: 1600px;
$content-max-width: 1400px;
$header-height: 56px;
$padding-section: 4rem;

// $clip-height: 6rem;
// $clip-height: 10vw;

$load-anim-delay: .1s;
$easing: cubic-bezier(0.86, 0, 0.07, 1);

// $font-family: 'Open Sans', sans-serif;
$font-family-title: 'Raleway', sans-serif;
$font-family: 'Source Sans Pro', sans-serif;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xlg-min: 1400px;
