.work {
  .section--text {
    margin-bottom: 4rem;
  }

  .footer {
    margin-top: 6rem;
  }
}

.section--bigpicture {
  &:hover {
    .work__more {
      opacity: 1;

      span,
      &:after {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &:nth-child(even) {
    .work__text {
      right: 0;
      text-align: right;

      .text__element {
        &:after {
          width: calc(100% + 8px);
          left: -8px;
        }
      }

      .text__element span,
      .text__element:after {
        transform: translate3d(100%, 0, 0);
      }
    }

    .work__more {
      left: 9vw;
      right: auto;
      // position: relative;

      &:after {
        left: -8px;
      }

      // span,
      // &:after {
      //   transform: translate3d(-30%, 0, 0);
      //   transition: all .2s ease-out;
      // }
      //
      // span {
      //   transition-delay: 0;
      // }
      //
      // &:after {
      //   transition-delay: .1s;
      // }
    }
  }

  .work__text .text__element span,
  .work__text .text__element:after {
    transform: translate3d(-100%, 0, 0);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &.is-active {
    .work__text .text__element span,
    .work__text .text__element:after {
      transform: translate3d(0, 0, 0);
    }

    .work__text .text__element span {
      transition-delay: .1s;
    }
  }
}

.work__text {
  position: absolute;
  top: 14vw;
}

.text__element {
  position: relative;
  display: inline-block;
  font-weight: 200;
  font-family: $font-family-title;
  color: $color-white-2;

  &:after {
    content: '';
    background: $color-gray;
    position: absolute;
    height: 100%;
    // width: 102%;
    width: calc(100% + 8px);
    // top: 7%;
    top: 8px;
    left: 0;
    z-index: 0;
  }

  span {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: .8rem 1.6rem;
    background: $color-black-2;
  }
}

.work__title {
  font-size: 3rem;
}

.work__date {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.work__more {
  font-size: 1rem;
  position: absolute;
  bottom: 16vw;
  right: 9vw;
  opacity: 0;
  transition: all .2s ease-out;

  &:after {
    width: 100%;
    left: 8px;
  }

  span,
  &:after {
    transform: translate3d(-30%, 0, 0);
    transition: all .2s ease-out;
  }

  span {
    transition-delay: 0;
  }

  &:after {
    transition-delay: .1s;
  }
}
